
/* cyrillic-ext */
@font-face {
  font-family: 'Ysabeau Infant';
  font-style: italic;
  font-weight: 1 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ysabeauinfant/v4/hv-NlzpqOkkV94kBTQVdX1EWI_p9Tx80AVxP.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Ysabeau Infant';
  font-style: italic;
  font-weight: 1 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ysabeauinfant/v4/hv-NlzpqOkkV94kBTQVdX1EWI_p9TxY0AVxP.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Ysabeau Infant';
  font-style: italic;
  font-weight: 1 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ysabeauinfant/v4/hv-NlzpqOkkV94kBTQVdX1EWI_p9Txw0AVxP.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ysabeau Infant';
  font-style: italic;
  font-weight: 1 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ysabeauinfant/v4/hv-NlzpqOkkV94kBTQVdX1EWI_p9TxI0AQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Ysabeau Infant';
  font-style: normal;
  font-weight: 1 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ysabeauinfant/v4/hv-PlzpqOkkV94kBTQVdX1EWI_p1fxAsBQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Ysabeau Infant';
  font-style: normal;
  font-weight: 1 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ysabeauinfant/v4/hv-PlzpqOkkV94kBTQVdX1EWI_p8fxAsBQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Ysabeau Infant';
  font-style: normal;
  font-weight: 1 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ysabeauinfant/v4/hv-PlzpqOkkV94kBTQVdX1EWI_p2fxAsBQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ysabeau Infant';
  font-style: normal;
  font-weight: 1 1000;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ysabeauinfant/v4/hv-PlzpqOkkV94kBTQVdX1EWI_p4fxA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



@font-face{
	font-family: "DraughtsUtrecht";
  src: url(fonts/Draughts_Utrecht/Draughts_Utrecht.woff2) format('woff2');
    font-display: swap;
}


article {
	width: 100%;
	margin: auto;
	counter-reset: footnotes;
  font-family: "Ysabeau Infant", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
font-size:18px;
	padding: 5px;
}

.formula {
margin: 25px; auto; 5px;  
}

article h2,article h3,article h4 {
	padding: 0px 0px 10px 5px;
	font-weight: 400;
  border-top: 5px solid MediumSeaGreen;
background: HoneyDew;
}

article p {
	margin-left: 7px;
}

.container {
	padding: 10px 0px;
	text-align: center;
	display: flex;
justify-content: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.column-2 {
    width: calc(100% / 2);
}

.column-3 {
    width: calc(100% / 3);
}

.column-4 {
    width: calc(100% / 3);
}

.subscribe {
	width: 75%;	
    padding: 3px;
	margin-left: 5px;
}

.clear {
	clear: both; 
}

.mirror {
	transform: scaleX(-1);
}

[id^="ref"] {
    counter-increment: footnotes; 
    text-decoration: none; 
}


[id^="ref"]:after {
    content: "[" counter(footnotes) "]"; 
    vertical-align: super; 
    font-size: 60%; 
    margin-left: .1em;
}

[href^="#ref"] {
    text-decoration: none;
}

[id^="node"]:target {
    background: aqua;
}

ol.footnotes {
	padding-left: 1em;
	font-size: 80%;
}

article figcaption {
text-align: center;
  font-family: 'Ysabeau Infant'; sans-serif;
  font-style: italic;
  font-weight: 400;
color:Black;
}

.diagram {
    font-family: "DraughtsUtrecht";
    line-height: 1em;
	display: block;
text-align: center;
	font-style:normal;
	font-weight:400;
	width: 10em;
margin:auto;
color:DarkSlateGray;
}

.quote {
  margin: 10px 50px;
	display: block;
  font-style: italic;
  border-left: 5px solid MediumSeaGreen;
  position: relative;
padding:20px;
background: HoneyDew;
}

article table, article th, article td {
border-collapse: collapse; 
  border: 1px solid DarkGreen; 
}

article table {
width: 100%; 
text-align: center; 
caption-side: top;
margin: 20px 0px;
}

.table caption {
text-align: left;
}

article hr {
  border: none;
  height: 4px;
  background: linear-gradient(to right, transparent, DarkGreen, transparent);
}

article h2 {
font-size:26px;
}

article h3 {
font-size:22px;
}
